<link rel='stylesheet' href='/stylesheets/header.css' />
<header>
    <ul>
        <li><a href="/barcelona">Barcelona</a></li>
        <li><a>Madrid   </a></li>
        <li><a>Mallorca </a></li>
        <li><a>Sevilla  </a></li>
        <li><a>Granada  </a></li>
    </ul>
</header>