<!DOCTYPE html>
<html>
  <head>
    <title>Barclona</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/Barcelona.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
   <ul id="listaBarcelona">
       <li><a>Endereço de Casa</a></li>
       <li><a>Restaurantes</a></li>
       <li><a>Coisas para ver</a></li>
       <li><a>coisas para fazer</a></li>
       <li><a>Endereços</a></li>
   </ul>
  </body>
</html>
