<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
   <img src="/images/partiuEspana-01-01.png" alt="">
   <img src="/images/bussola.png" alt="">
  </body>
</html>
