<!DOCTYPE html>
<html>
  <head>
    <title>Voos</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <table>

        <tr><th>Origem</th></tr>
        <tr><th>Destino</th></tr>
        <tr><th>compania</th></tr>
        <tr><th>numero</th></tr>

    </table>
  </body>
</html>
