<!DOCTYPE html>
<html>
  <head>
    <title>Voos</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <table>

        <tr>
            <th>Origem</th>
            <th>Destino</th>
            <th>compania</th>
            <th>numero</th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>

    </table>
  </body>
</html>
